/* 整個框 */
.masonry {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.masonry:after {
  content: '';
  display: block;
  clear: both;
}

/*內容 */
.item {
  max-width: 270px;
  float: left;
  overflow: hidden;
  border: 1px solid #FFB972;
  border-radius: 5px;
  text-align: center;
}

/* 消除內容的連結底線 */
.item a {
  text-decoration: none;
}

/* 內容裡的菜品圖 */
.img_blog img {
  max-width: 280px;
  width: 100%;
}

/* img圓形 */
#img_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}


.item span {
  display: block;
  color: #41AFA7;
  font-size: 1rem;
  font-family: "Microsoft JhengHei";
}



.item h5 {
  font-size: 1.2rem;
  font-family: "two";
  color: #e65f21;
  text-align: start;
  padding-left: 10px;
}

/* 內文 */
.item p {
  text-align: start;
  padding: 0 8px;
  letter-spacing: 0;
  font-size: 1rem;
  font-family: "Microsoft JhengHei";
  color: #1a5464;
}




.masonry,
.masonry .masonry-brick {
  transition-duration: 0.1s;
}

.masonry {
  transition-property: height, width;
}

.masonry .masonry-brick {
  transition-property: left, right, top;
}

}