@font-face {
  src: url("../fonts/AdobeFanHeitiStd-Bold.otf");
  font-family: "one-title";
}

@font-face {
  src: url("../fonts/清松手寫體1.otf");
  font-family: "two";
}

p {
  letter-spacing: 4px;
  font-size: 1.1rem;
  color: #274555;
  text-align: center;
  line-height: 30px;
  font-family: "Microsoft JhengHei";
}



span {
  font-size: 0.8rem;
  font-family: "two";
  color: #274555;
}

h4 {
  letter-spacing: 4px;
  font-size: 1.5rem;
  color: #274555;
  text-align: center;
  font-family: "two";

}

@media (max-width: 768px) {
  h4 {
    padding: 0;
    width: 100%;
    margin: 0;
  }

}

h3 {
  letter-spacing: 4px;
  font-size: 1.75rem;
  color: #274555;
  text-align: center;
  font-family: "Microsoft JhengHei";
}



h2 {

  letter-spacing: 4px;
  font-size: 1.8rem;
  color: #298a36;
  text-align: center;
  font-family: "Microsoft JhengHei";
  padding: 20px 0px;
  margin: 0;

}

@media (max-width: 768px) {
  h2 {
    margin-top: 50px;
  }
}

h1 {
  font-size: 3rem;
  font-family: "one-title";
  padding: 10px 5px;
  text-align: center;
  color: #ECA402;
  margin: 0;
}

@media (max-width: 768px) {
  h1 {
    padding: 0;
    margin-top: 15%;
    width: 100%;
  }

}

.line {
  display: inline-block;
  width: 200px;
  border-top: 2px solid #fed270;
  vertical-align: 8px;
}

@media screen and (max-width: 768px) {
  .line {
    width: 15%;

  }
}