footer #end {
  background-image: url("../img/background/00.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.po-r {
  background-image: url("../img/background/00.png");
  background-repeat: no-repeat;
  margin: 0;
}