html {
  font-size: 16px;
  background-image: url(../img/background/bn.jpg);
}


body {
  background: rgba(248, 247, 247, 0.774);
  padding: 0;
  margin: 0 auto;
  max-width: 1200px
}


header {
  background-image: url(../img/background/0.png);
  background-repeat: no-repeat;

}



.link_icon {
  display: flex;
  justify-content: space-between;
}

.link_icon img {
  width: 30px;
}

.link_icon_left {
  padding: 10px 10px 5px 10px;
}

.link_icon_right {
  padding: 10px 10px 5px 10px;
}


#li-logo img {
  width: 80px;
  height: 90px;
  padding: 0;
}

.logo .hamburger {
  display: none;
}

#M-logo {
  width: 100px;
  margin: auto;
  display: none;
}

#M-logo img {
  width: 100%;
  margin-left: 5%;
}

nav#md-nav {
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul.drop-down-menu {
  display: inline-block;
  font-family: "one-title", "Microsoft JhengHei";
  font-size: 1.5rem;
}

nav ul.drop-down-menu li {
  padding: 0;
  position: relative;
}

nav ul.drop-down-menu>li {
  vertical-align: middle;
  display: inline-block;
  /* 只有第一層是靠左對齊*/
  margin: 0 25px;
}

nav ul.drop-down-menu a {
  color: #1f5e6f;
  display: block;
  width: 96px;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
}

nav ul.drop-down-menu .li1 {
  /* background-color: #f38462; */
  color: #f2f2f2;
}

nav ul.drop-down-menu li:hover #li-logo {
  background-color: #ffffff00;
}

nav ul.drop-down-menu li:hover>a {
  /* 滑鼠移入次選單上層按鈕保持變色*/
  /* background-color: #f2f2f2; */
  color: #f38462;
  border-bottom: 1px dashed #f38462;
}

/* 第二層 */
nav ul.drop-down-menu ul {
  position: absolute;
  z-index: 99;
  right: 0px;

  /* background-color: #f2f2f2; */
}

nav ul.drop-down-menu ul {
  /*隱藏次選單*/
  display: none;
}

nav ul.drop-down-menu li:hover>ul {
  /* 滑鼠滑入展開次選單*/
  display: block;
}

.md-icon {
  display: none;

}

/* -------------------------------- */

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  body {
    width: 100%;
  }

  header {
    background-image: url(../img/background/md0.png);
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .link_icon {
    display: none;
  }

  .logo .hamburger {
    display: block;
    outline: none;
  }

  #M-logo {
    display: block;
    margin-top: -55px;
    padding: 0;
  }

  #M-logo img {
    width: 55%;
    margin: 0 auto;
    margin-left: 20%;
  }

  #li-logo {
    display: none;
  }

  #md-nav {
    display: none;
    position: absolute;
    z-index: 100;
    top: 60px;
    width: 60%;
    height: 450px;
    background-color: #fece80d8;
    border-radius: 0px 5px 5px 0px;

  }

  nav ul.drop-down-menu {
    width: 100%;
  }

  nav ul.drop-down-menu>li {
    margin: 0;
    display: block;
  }

  nav li #li-logo {
    display: none;
  }

  /* 第一層 */
  nav ul.drop-down-menu a {
    width: 100%;
  }

  /* 第二層 */
  nav ul.drop-down-menu ul {
    position: relative;
    width: 100;
    background-color: #e2bb7ca2;
  }

  nav ul.drop-down-menu ul li {
    border-bottom: 1px solid cadetblue;
  }

  #md-fake1,
  #md-fake2,
  #md-fake3::after {
    content: " ";
    background-image: url("../img/icon/down-arrow.png");
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 30px;
    cursor: pointer;
  }

  .md-icon {
    display: block;
    position: absolute;
    bottom: 0;
    left: 40%;
  }

  .md-icona img {
    margin: 0 auto;
    width: 20px;
  }



  nav ul.drop-down-menu li:active>ul {
    /* 滑鼠滑入展開次選單*/
    display: none;
  }
}