.content-1 a {
  outline: none;
  text-decoration: none;
  color: #fff;
}


#Methods1 dl {
  display: inline-block;
  margin-left: 25px;
  width: 350px;
}

#Methods1 dt img {
  width: 350px;
}

#Methods1 dd {
  width: 350px;
  margin: 0;
  line-height: 40px;
  background: #fdc23e;
  text-align: center;
}

#Methods1 a {
  text-decoration: none;
  color: #274555;
  font-family: "two";
  font-size: 1.5rem;
}


.text-1 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}


#img_content {
  width: 575px;
}


#img_content img {
  width: 100%;
}

.content-text {
  width: 505px;
  font-family: "Microsoft JhengHei";
}

.content-text h4 {
  padding-top: 10%;
}

.content-text p {
  text-align: start;
}

.span-a {
  display: block;
  text-align: end;
}

.span-a:hover {
  color: #ff7761;
}

/* _____________________________________ */

.content-2 {
  margin-top: 50px;
}

.container {
  margin: 0 auto;
}


ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 0;
  margin-left: 25px;
}


hr {
  border: 1px solid rgb(233, 208, 179);
  margin: 0;
  max-width: 100%;
}



ul.tabs li {
  background: none;
  font-weight: 800;
  display: inline-block;
  padding: 0px 15px;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  border-bottom: 0;
  width: 100px;
  border-top: 1px solid rgb(233, 208, 179);
  border-left: 1px solid rgb(233, 208, 179);
  border-right: 1px solid rgb(233, 208, 179);
}


ul.tabs li.current {
  background: rgba(243, 163, 14, 0.644);

}

ul.tabs li.current p {
  color: deeppink;
  font-weight: 800;
}


.tab-content {
  display: none;
  padding: 15px;
}


.tab-content.current {
  display: inherit;
}

.movie_content {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-evenly;
}


.movie {
  width: 50%;
}

iframe {
  width: 100%;
  height: 315px;
}


.movie_text {
  padding: 0;
  width: 30%;
}


.movie_text a {
  text-decoration: none;
}

.movie_text p {
  text-align: start;
  margin: 0 auto;

}


.movie_text span {
  text-align: end;
  display: block;
}

.movie_text span:hover {
  color: #ff7761;
}

/* ___________________________ 市集*/
.content-3 a {
  text-decoration: none;
}

.basic2 {
  display: flex;
}

.shop {
  width: 340px;
  margin: 0 auto;
}


.shop a {
  outline: none;
  font-weight: bold;
  color: #1a5464;
  font-size: 1.25rem;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

table .td1 {
  font-size: 1rem;
  text-decoration: line-through;
}

table .td2 {
  color: red;
  font-size: 1.5rem;
  padding: 0 30px;
}

table .td3 {
  widows: 30px;
  padding: 0 0 5px 0
}

/* ___________________________________ */


.content-4 {
  margin-top: 65px;
  margin-bottom: 70px;
}

.content-4 a {
  text-decoration: none;
  color: #0f8b1f;
}


/* 料理誌的ul */
.content-4 .ul_margin {
  margin-left: 20px;
  font-size: 0;
}

.content-4 ul {
  display: inline-block;
}


.content-4 ul li img {
  width: 280px;
  padding: 5px;
}

.content-4 .text_ul {
  padding: 0;
}

.content-4 .text_ul .in a {
  padding-left: 10px;
}

.content-4 .text_ul li a {
  text-decoration: none;
  color: #41AFA7;
  font-size: 1rem;
  font-family: "Microsoft JhengHei";
}

ul.text_ul p a {
  font-size: 1.1rem;
  text-decoration: none;
  font-family: "two";
  color: #1a5464;
  text-align: center;
}

@media screen and (max-width: 1200px) {

  /* 料理誌的ul */
  .content-4 .ul_margin {
    width: 90%;
    margin: 0 auto;
  }

  .content-4 ul li img {
    width: 250px;

  }

}

@media screen and (max-width: 785px) {
  .content-4 .ul_margin {
    width: 90%;
    margin: 0 auto;
  }

  .content-4 ul {
    margin-left: 20px;

  }

  .content-4 ul li img {
    width: 300px;

  }
}

/* -------------------------------------768 */
@media screen and (max-width: 768px) {
  .content-1 {
    margin-top: 50px;
  }

  .shop {
    margin: 0 auto;
    width: 80%;
  }

  .content-3 h1 {
    margin-top: 0;
  }

  .movie_text p {
    margin: 0 auto;
  }

  .movie_text {
    width: 95%;
    margin: 0;
    margin-top: 10%;
  }

  iframe {
    width: 100%;
  }

  .movie {
    width: 100%;
  }

  .movie_content {
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }

  .tab-content {
    padding: 0;
    width: 100%;
  }

  ul.tabs li {
    padding: 0px;
    cursor: pointer;
    width: 19%;
  }

  .tab-link p {
    margin: 7% 0;
  }

  ul.tabs {
    margin: 0;
    width: 100%;
  }

  .content-2 h1 {
    margin-top: -10%;
    width: 100%;
  }

  .content-text {
    margin: 0;
    width: 90%;
  }

  .content-text p {
    margin: 0;
  }

  #img_content {
    width: 90%;
  }

  #img_content img {
    width: 100%;
  }

  /* 讓大圖與文字斷行 */
  .text-1 {
    flex-wrap: wrap;
  }

  /* 輪播菜名寬度100% */
  #Methods1 dd {
    width: 90%;
    margin: 0 auto;
  }

  #Methods1 dt img {
    width: 90%;
    margin: 0 auto;
  }

  #Methods1 dl {
    width: 100%;
    margin: 0;
  }

  .content-4 .ul_margin {
    margin: 0;
    text-align: center;
    font-size: 0;
  }

  .content-4 .text_ul .in a {
    padding-left: 0;
  }
}