body {
  margin: 0 auto;
}

#adiminbg {
  background-image: linear-gradient(to right top, #fdc23e, #ffbe59, #ffbb71, #ffbb87, #ffbc9b, #ffb99e, #ffb6a1, #ffb4a5, #ffaa9b, #ff9f91, #ff9587, #fe8a7e);
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.borderLine {
  width: 500px;
  height: 500px;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.borderLine::before,
.borderLine::after {
  content: " ";
  border: 2px double white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -15px;
  animation: borderCilp 8s linear infinite;
}


.borderLine::after {
  animation-delay: -4s;
}

@keyframes borderCilp {
  0% {
    clip: rect(0px, 530px, 2px, 0px);
  }

  25% {
    clip: rect(0px, 2px, 530px, 0px);
  }

  50% {
    clip: rect(498px, 530px, 530px, 0px);
  }

  75% {
    clip: rect(0px, 530px, 530px, 498px);
  }

  100% {
    clip: rect(0px, 530px, 2px, 0px);
  }

}

#adminall {
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 20;
  text-align: center;
  padding: 10px;
  box-shadow: 11px 6px 30px -10px #242424;
}

.loginlogo,
.loginform {
  padding: 20px 0;
}

.loginlogo {
  text-align: center;
}

.loginlogo img {
  width: 100px;
  margin: 0 auto;
}

.adminp {
  display: inline-block;
}

img {
  width: 40px;
}

#admin_Id,
#admin_Psw {
  color: #38227c;
  border-radius: 22.5px;
  border: 3px solid rgb(240, 235, 235);
  background-color: transparent;
  box-sizing: border-box;
  height: 50px;
  padding: 0px 15px;
  width: 390px;
  margin: 10px;
}

#admin_Id:focus,
#admin_Psw :focus {
  outline: none;
  border-color: #dd7e77;
}

.adminbtn {
  width: 140px;
  height: 50px;
  color: #2b1f1f;
  border: 4px solid #e4a41c;

  margin: 50px auto 0;


}

.adminbtn:hover {
  background-color: #e4a41c;
}