select {
  margin-left: 50px;
  width: 200px;
  height: 40px;
  appearance: none;
  -webkit-appearance: none;
  padding-left: 45px;
  background: url("../img/icon/down-arrow.png") no-repeat;
  background-position: 150px 10px;
  background-color: #F6F7F7;
  color: gray;
}


.img1 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgb(238, 142, 125);
  box-shadow: 0 0 0 2px rgb(230, 164, 67);
  transition: all 0.5s;
}


.img1:hover {
  transform: scale(1.2, 1.2);

}

td.td3 img {
  transition: All 0.4s ease-in-out;
}

.shop td.td3:hover img {
  transform: translate(0, -10px);

}



/* --------------------------------- */

.content-3 a {
  text-decoration: none;
}

.basic2 {
  display: flex;
}

.shop {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 55px;
}

.shop a {
  outline: none;
  font-weight: bold;
  color: #1a5464;
  font-size: 1.25rem;
}

.shop .img1 {
  margin: 0 auto;
  overflow: hidden;

}


table {
  margin: 0 auto;
  border-collapse: collapse;
}


table .td1 {
  font-size: 1.1rem;
  text-decoration: line-through;
}

table .td2 {
  color: red;
  font-size: 1.5rem;
  padding: 0 25px;
}

.td3 a img {
  width: 30px;
  padding: 0 1px;
  margin: 0 auto;
}

/* --------------------------- */
.show_more {
  outline: #fdc23e 1px solid;
  padding: 5px 5px;
  width: 100px;
  margin: 50px auto;
  text-align: center;
}

.show_more:hover {
  background-color: #fdc23e;
  color: deeppink;
}

/* __________________ */
div.pagination_block>ul.pagination>li {
  display: inline-block;
}

div.pagination_block>ul.pagination>li>a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  font-size: 1rem;

}

div.pagination_block {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  width: 100%;
}

div.pagination_block>ul.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}



div.pagination_block>ul.pagination>li>a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #dee2e6;
  border-right: 0;
  text-align: center;
  padding: 5px 10px;
  font-size: 1rem;
  color: #113c47;
}


.pagination_block>ul.pagination>li:last-child>a {
  border-right: 1px solid #dee2e6;
  border-radius: 0 5px 5px 0;
}

.pagination_block>ul.pagination>li:first-child>a {
  display: inline-block;
  border-radius: 5px 0 0 5px;
}

.pagination_block>ul.pagination>li>a.-on {
  background-color: #ffffff;
  color: deeppink;
}

.pagination_block>ul.pagination>li>a:hover {
  background-color: #eed38a;
  color: deeppink;
}

/* _________________________________________ */
@media screen and (max-width: 992px) {

  select {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
  }


  .img1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .basic2 {
    width: 100%;
  }

  .shop {
    width: 100%;
    text-align: center;
  }

}

@media screen and (max-width: 768px) {
  select {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
  }

  .basic2 {
    width: 100%;
    flex-wrap: wrap;

  }

  .shop {
    width: 45%;
    text-align: center;
    margin: 0 auto;
  }

}

@media screen and (max-width: 576px) {
  .marketh1 {
    margin-top: 50px;
  }

  .marketh2 {
    margin-top: 50px;
  }

  .pulse {
    margin: 0;
  }

  select {
    width: 40%;
    height: 40px;
    margin: 5% 30%;
    padding-left: 32px;
  }

  .basic2 {
    width: 100%;
    flex-wrap: wrap;

  }

  .shop {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  table {
    margin-bottom: 5%;
  }



}