section {
  display: flex;
  justify-content: space-evenly;
}

section img {
  max-width: 500px;
  width: 100%;
}

.product {
  width: 55%;
  padding: 0 5px;
}

.product .td1 {
  font-size: 1.1rem;
  text-decoration: line-through;
  display: inline-block;
}


.product .td3 {
  color: red;
  font-size: 1.5rem;
  padding: 0 30px;
  display: inline-block;
  text-align: center;
}

.product_style p {
  text-align: start;
}

select {
  width: 200px;
  height: 50px;
  appearance: none;
  -webkit-appearance: none;
  padding-left: 50px;
  background: url(../img/icon/down-arrow.png) no-repeat;
  background-position: 155px 10px;
  background-color: #F6F7F7;
  color: gray;
  margin: 20px 0;
}

select option {
  font-size: 1rem;
}

.shopcar {
  width: 30%;
  height: 50px;
  -webkit-appearance: none;
  background-color: #db2707;
  border-radius: 5px;
  color: rgb(252, 244, 244);
  border: none;
  outline: none;
  cursor: pointer;
}

.product span {
  font-family: "Microsoft JhengHei";
  padding: 0 20px;
  font-size: 1.2rem;
}

.m-btnshop {
  text-align: end;

}

.container {
  margin: 0 auto;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 0;
  margin-left: 25px;
}


ul.tabs li {
  background: none;
  font-weight: 800;
  display: inline-block;
  padding: 0px 10px;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  border-bottom: 0;
  width: 150px;
  border-top: 1px solid rgb(233, 208, 179);
  border-left: 1px solid rgb(233, 208, 179);
  border-right: 1px solid rgb(233, 208, 179);
}

ul.tabs li.current {
  background: rgba(243, 163, 14, 0.644);

}


ul.tabs li.current p {
  color: deeppink;
  font-weight: 800;

}

hr {
  border: 1px solid rgb(233, 208, 179);
  margin: 0;
  max-width: 1200px;
}

.text,
.messenger {
  text-align: center;
}

h4 {
  font-family: "Microsoft JhengHei";
}

.text-pic img {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.text p {
  text-align: start;
  width: 80%;
  margin: 0 auto;
}

.messenger table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
}

.messenger tr th {
  width: 30%;
  font-size: 1.2rem;
  padding: 0;
  font-family: "Microsoft JhengHei";
}

.messenger td p {
  border-bottom: 1px dashed rgb(224, 185, 185);
  font-family: "Microsoft JhengHei";
}

.tab-content {
  display: none;
  padding: 15px;
}

.tab-content.current {
  display: inherit;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#number-input {
  border: 2px solid #ddd;
  display: inline-flex;
}

#number-input,
#number-input * {
  box-sizing: border-box;
}

#number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

#number-input button:before,
#number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 1px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}

#number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

#number-input input[type=number] {
  font-family: sans-serif;
  max-width: 6rem;
  padding: .5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}


/* _______________________________________ */
@media screen and (max-width: 768px) {
  section {
    flex-wrap: wrap;
    width: 100%;
  }

  .product {
    width: 100%;
  }

  .text-pic {
    width: 90%;
    margin: 0 auto;
  }

  .text-pic img {
    width: 100%;
  }

  .messenger tr th {
    font-size: 1rem;
  }

  .text p {
    width: 90%;
    font-size: 0.8rem;
  }

  .m-btnshop {
    text-align: center;
    padding: 20px;
  }
}