#chef_icon {
  width: 35px;
  height: 35px;
  padding: 5px 5px 0 0;
}

/* 主廚介紹 */
.movie_text {
  display: flex;
  justify-content: center;
}

.movie_text p {
  padding: 5px 0 5px;
  text-align: start;
}

.chef_text {
  width: 600px;
}

.chef_text p {
  width: 100%;
}

.htwo h2 {
  color: #aa5506;
}

.movie_chef img {
  width: 100%;
}

.border-bottom {
  background-color: #f3d6ab;
  margin: 0 auto;
  text-align: center;
  padding-top: 4%;
}

.movie_text span.movie_span {
  display: block;
  font-size: 1.5rem;
  color: #ce5007;
  font-family: "Microsoft JhengHei";
  font-weight: 800;
}



.show_movie {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 40px;
}

.show_movie p {
  margin: 0;
}

.pic:hover {
  cursor: pointer;
}

.show_movie div.pic p:hover {
  color: deeppink;
}

.show_movie .pic img {
  width: 240px;
}

/* ______________________________________________ */
@media screen and (max-width: 992px) {

  .movie_text {
    flex-wrap: wrap;
  }

  .show_movie {
    margin-bottom: 1%;
    width: 100%;
    flex-wrap: wrap
  }

  .pic {
    width: 45%;
    text-align: center;
  }

  .pic img {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .chef_text {
    width: 100%;
  }

  span.movie_span {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .pic {
    width: 100%;
    text-align: center;
  }

  .pic img {
    width: 100%;
  }

  .chef_text {
    width: 100%;

  }

  .chef_text p {
    margin: 0 auto;
    width: 90%;
  }

  .movie_content h3 {
    margin: 0px;
  }
}