section {
  width: 100%;
}

iframe {

  height: 500px;
  width: 900px;
  margin-left: 120px;
  padding: 0 0 0 30px;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

#img_one {
  max-width: 900px;
  margin: 0 auto;
}

.time {
  margin: 20px 0 50px 0;
  display: flex;
  justify-content: space-evenly;
}

.img_color {
  background: -webkit-radial-gradient(center, ellipse cover, rgba(247, 216, 197, 1)50%, rgba(239, 172, 131, 1)100%);
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;

}

.img_color:hover {
  transform: translate(0px, -5px);
}

.img_color img {
  margin-top: 20px;
}

.img_color h2 {
  color: #1a5464;
  padding: 5px;
  font-size: 1.5rem;
}

.img_color p {
  font-size: 1.1rem;
}


.content_text {
  width: 80%;
  margin: 0 auto;
}

.content_text p {
  text-align: start;
  letter-spacing: 3px;
  font-family: "Microsoft JhengHei";
  color: #1a5464;
}

.content_text p a {
  text-decoration: none;
  color: #03632b;
}

.table_text {
  display: flex;
  justify-content: center;
}

.table_text h4 {
  color: rgb(70, 68, 68);
  font-family: "Microsoft JhengHei";
}

.fusion {
  padding: 0 5px;

}

.fusion table {
  border-collapse: collapse;
  border: 0;
  width: 245px;
  font-family: "Microsoft JhengHei";

}


tr:nth-child(even) {
  background: #F7B36A;
}

tr:nth-child(odd) {
  background: #FDF3E9;
}

tr {
  height: 30px;
}

td {
  padding: 10px;
  text-align: center;
}

.fusion1 {
  width: 80%;
  margin: 0 auto;
}

.fusion1 h3 {
  color: rgb(248, 115, 81);
  font-size: 2.5rem
}

.fusion1 img.cook_text {
  width: 300px;
  margin: auto;
  display: block;
}

.fusion1 hr {
  margin: 30px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(240, 150, 65, 0.75), rgba(0, 0, 0, 0));
}

.fusion1 p {
  text-align: start;
  width: 90%;
}

#cookh2 {
  text-align: start;
  padding: 0 0 0 30px;
}

.cook_1 {
  text-align: center;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
}

.cook_1 img {
  width: 250px;
}

hr {
  max-width: 1200px;
}

@media screen and (max-width: 768px) {

  section {
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .main {
    width: 90%;
    margin: 0 auto;
  }

  #img_one {
    width: 400px;
    height: 300px;
    margin: 0 auto;
  }

  .table_text {
    flex-wrap: wrap;
    width: 100%;
  }

  .fusion1 {
    width: 100%;
    text-align: center;
  }

  .fusion1 p {
    margin: 0 auto;
    width: 90%;
  }

  .cook_1 {
    margin-bottom: 20px;
    width: 100%;
  }

  .cook_1 img {
    width: 100%
  }

  .time {
    margin-top: 20px;
  }

  .img_color {
    background: -webkit-radial-gradient(center, ellipse cover, rgba(247, 216, 197, 1)50%, rgba(239, 172, 131, 1)100%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }




  .img_color img {
    margin-top: 1px;
    width: 35%;
  }

  .img_color h2 {

    padding: 0;
    font-size: 1.1rem;
  }

  .img_color p {
    font-size: 1rem;
  }


  .fusion {
    padding: 0;
    width: 100%;
  }

  .fusion table {
    border: 0;
    width: 95%;
    margin: 0 auto;
  }

  h4 {

    width: 100%;
    margin-top: 10px;
  }
}